/**
 * Global / Font Families
 * Define font families used in the site
 */

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Light.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Regular.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Medium.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro-Black.otf');
    font-weight: 800;
}
